.about-overlay {
    position: absolute;
    background: black;
    opacity: 0.8;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

}

.about-container {
    color: white;
    width: 75vw;
    height: 75vh; background: black;
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: 12.5vh;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    text-align: center;


}

.about-container h4 {
    text-decoration: underline;
}

.about-container p {

    font-size: 36px;
    width: 90%;
}

@media screen and (max-width: 1300px) {
    .about-container p {
        font-size: 30px;
    }
}
@media screen and (max-width: 825px) {
    .about-container p {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .about-container p {

        font-size: 20px;
    }
}

@media screen and (max-height: 850px) {
    .about-container p {
        font-size: 30px;

    }

}

@media screen and (max-height: 675px) {
    .about-container p {
        font-size: 24px;
        position: relative;
        bottom: 50px;
    }
}
@media screen and (max-height: 550px) {
    .about-container p {
        font-size: 20px;
    }
}
@media screen and (max-height: 500px) {
    .about-container h4 {
        position:relative;
        bottom: 50px;
    }
    .about-container p {
        bottom: 120px;
    }
}
@media screen and (max-height: 400px) {
    .about-container p {
        font-size: 16px;
    }
}




.about-container span {
    text-decoration: underline;
}




.about-container li {
    list-style-type: "-";
    text-align: left;
    padding: 10px;
}



.close-button-about {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;


}

.close-button-about:hover {
    background: red;
    box-shadow: none;


}

